
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Myaction</title>
</head>
<body>
    <div>
        This is the best answer!!<br />
        My Data Name is  @ViewBag.studentdata
    </div>
</body>
</html>
